<div class="jumbotron container">
    <div class="container" >
            <form  [formGroup]="updateOfferForm">
                <div class="row d-flex justify-content-center"> 
                    <div class="form-inline col-6">
                        <label class="mr-3" for="name-form">
                            Enter Offer date: 
                        </label>
                        <input type="text" 
                               class="form-control col" 
                               id="name-form" 
                               formControlName="offerDate">
                        <div>
                            <span [style.visibility]="'hidden'" class="text-danger small">s</span>
                            <span class="text-danger small" *ngIf="updateOfferForm.get('offerDate').invalid && updateOfferForm.get('offerDate').touched">
                                Please enter valid Date
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-6 p-0 m-0">
                            <button class="btn btn-color mt-2" 
                                    type="submit" 
                                    value="submit" 
                                    (click)="fetchOffer(updateOfferForm)">
                            Fetch Offers</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div class="container table-responsive d-flex justify-content-center" *ngIf="this.offerList?.length == 0 && fetchFlag == true"><strong>No Offers for the selected date</strong></div>
<div class="container table-responsive" *ngIf="this.offerList.length != 0">
<table class="container table text-dark text-center" >
        <div class="col-12 text-center" *ngIf="deleteFlag == true"><div class="alert alert-success mb-0 mt-2">Offer deleted</div></div>
        <thead>
          <tr>
            <th>Date</th>
            <th>Offer Percentage</th>
            <th>Product</th>
            <th>Offer Details</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let offer of offerList">
          <td>{{offer.offerDate | date: 'dd/MM/yyyy'}}</td>
          <td>{{offer.offerPercentage}}</td>
          <td>{{offer.productId.productName}} - {{offer.productId.productCode}}</td>
          <td>{{offer.offerDetails}}</td>
          <td class="d-flex justify-content-between">
              <a role="button" (click)="editOffer(offer.id)"><i class="icon-edit mb-1 text-color material-icons align-middle">edit</i></a>
              <a role="button" (click)="deleteOffer(offer.id)"><i class="icon-delete text-danger mb-1 material-icons align-middle">delete</i></a>
          </td>
        </tbody>
</table>
</div>
