<div class="container">
  <div *ngIf="statusFlag==true || rejectFlag==true;elseBlock">
    <div class="p-2 bg-danger text-white">Status updated successfully.</div>
  </div>
  <ng-template #elseBlock class="p-2">
    <div></div>
  </ng-template>
  <h3 class="mt-4 p-2 bg-color text-align">Shop Manager Pending Status List</h3>
  <table class="table table-striped text-align table-responsive ">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>User Id</th>
        <th>Contact Number</th>
        <th>Current Status</th>
        <th>Approve Status</th>
        <th>Reject</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let list of pendingList">
        <td>{{list.firstName}}</td>
        <td>{{list.lastName}}</td>
        <td>{{list.userId}}</td>
        <td>{{list.contactNumber}}</td>
        <td>{{list.status}}</td>
        <td><button type="submit" class="btn bg-success" (click)="approveStatus(list)"><i
              class="material-icons text-white">done_outline</i></button></td>
        <td><button type="submit" class="btn bg-danger" (click)="rejectStatus(list)"><i
             class="material-icons text-white">cancel_schedule_send</i></button></td>
      </tr>
    </tbody>
  </table>

</div>