<section>
  <article>
    <div class="jumbotron-fluid shadow rounded">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="image1">
              <div class="image-text text-white">

                <h3>Shop from a wide assortment of grocery products only on easy buy.</h3>
                <h3>Get all the grocery items at reasonal rates.</h3>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="image2">
              <div class="image-text text-white">
                <h3>Freshly prepared baked items with discounted price</h3>
                <h3>Tastes like homemade one...</h3>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="image3">
              <div class="image-text text-white">
                <h3>Get the freshness of fruits with easybuy</h3>
                <h3>Our aim to provide you freshness directly from farm...</h3>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="image4">
              <div class="image-text text-white">
                <h3>A perfect food for small hunger while considering your health as preference.</h3>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <div class="home-message border border-mute row">
      <div class="col-12 col-sm-12 col-md-7 col-lg-7">
        <h4>Easy Buy a one stop shop for all your needs at discounted rates with freshness and quality. Avail the latest
          offers on the page and get huge discounts...</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 button-style">
        <div><a class="badge badge-color p-3" routerLink="/signup">
            <h4>Become a member</h4>
          </a></div><br><br>
        <div><a class="badge badge-color p-3" routerLink="/login">
            <h4>Login to shop online</h4>
          </a></div>
      </div>
    </div>
  </article>
</section>